@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-hover: #f2f2f2;
  --card-bg: rgba(23, 23, 23, 0.01);
  --border-light: rgba(0, 0, 0, 0.08);
  --border-hover: rgba(0, 0, 0, 0.16);
}

.dark {
  --background: #111111;
  --foreground: #ededed;
  --card-hover: #1a1a1a;
  --card-bg: rgba(237, 237, 237, 0.03);
  --border-light: rgba(255, 255, 255, 0.24);
  --border-hover: rgba(255, 255, 255, 0.45);
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .card {
    @apply p-6 rounded-xl border transition-colors;
    border-color: var(--border-light);
    background-color: var(--card-bg);
  }

  .card > * {
    @apply mb-4 last:mb-0;
  }

  .card:hover {
    border-color: var(--border-hover);
  }
}

@layer utilities {
  .hover\:gap-3:hover {
    gap: 0.75rem;
  }
}
